

/* Generel*/

font, a, label, button, select, option, input, th, td, textarea
{
  font-size:11px;
  color:#2f2f2f;
  font-family:verdana;

}

body { 
    background-color:#F6F9ED;
    font-size:11px;
    font-family:verdana; 
}

A {
  color:#000000;
  text-decoration:none;
}

A:HOVER 
{
  font-style:italic;
}
  
th { 
     text-align: left;
}

/* ------------------ Edit Page ---------------- */

.topMaintitle{
  margin-left: 10px;
  font-size: 27px;
}

.topDeleteLink{
  font-weight: bold;
}

.topLanguage{
  /*background-color: red;*/ 
  vertical-align:bottom;
}

table.topMaintable{
  /*margin-top: 20px;*/
  height: 100px;
  background-color:white; 
}

h1.topMaintable{
  font-size: 50px;
}

.topHR { 
width: 100%; 
height: 1px; 
border: 0; 
background-color: black; 
margin-top: -1px; 
} 

.activeflags{
  height: 50px;
 /* background-color:red;*/
}

.genFlagDiv{
  float: left;
  display: inline;
  position: relative;
  top: 26px;
  margin-left:10px;
  width: 50px;
  height: 23px;
  background-image:url('http://localhost/frometou/web/layout/imgs/genflag.png');
}

.genflag_active{
    position: relative;
    top: 4px;
    left:13px;
    opacity:0.4;
}

.genflag_inactive{
    position: relative;
    top: 4px;
    left:20px;
    opacity:0.4;
}

.newLanguage{
  color: green;
  font-size: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
  width: 12px;
  height: 12px;
  }


.selectedflagdiv{
  float: left;
  text-align: center;
  height: 50px;
  width: 136px;
  margin-left:10px;
  background-image:url('http://localhost/frometou/web/layout/imgs/selectedflagsmall.png');
  position: relative;
  z-index: 2;
}


.selectedflag{
    border-width: 1px;
    position: relative;
    z-index: 2;
    top: 20px;
    left:0px;  
  }
/*document (the lover part of the edit page)*/

.documentuk{
  background-color: #f3f7ff;
}
.documentdk{
  background-color: #fff3f3;
}

.document{
  margin: 10px;
}

/* -------------- Navigation window -------------- */

body.navigation {
    background-color:#FFFFFF;
    font-size:11px;
    font-family:verdana; 
}

ul.navigationParent{
    font-size:13px;
    padding: 10px;
    list-style-type: none;
}

ul.navigationChild{
    font-size:12px;
    padding: 10px;
    list-style-type: none;
}

ul.childlist{
  margin-left: -25px;
}

ul.mainmenu{
  margin-left: -40px;
}

.navigation A {
  color:#000000;
  text-decoration:none;
}

.navigation A:HOVER {
  background-color:#eff2f3;
}

li.selectedDoc a {
  color:#ff0000;
  list-style-type:square;
}

input.new{
    border: 0px;
    color: green;
    background: #FFFFFF;
    cursor:pointer;
}

input.new[type="submit"]:hover{
   color: red;
    background: #F6F9ED;
}